header {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
}

form input,
form textarea {
  width: 60%;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

form button {
  width: 30%;
  padding: 15px 10px;
  background: yellow;
  border: none;
  border-radius: 5px;
}
